ul, li {
    list-style: none;
}

a { 
    text-decoration: none;
}



#header {
    display: flex;
}


#header > #logotext {
    font-size: 48px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f5f5f7;
    text-align: center;
    margin-left:25px;
}

#header > #navmenu {
    display:flex;
    align-items: center;
    flex-wrap:nowrap;
}

@media screen and (min-width:200px) and (max-width:480px){
    #header > #navmenu {
        display:none;
    }
    #header > #logotext {
        width: 100%;
        text-align: center;
    }

}

@media screen and (min-width:200px) {
   
}

#header > #navmenu > li > a {
    padding : 0 20px;
    color:#6e6e73;
    font-weight: bold;
}

#visual {
    background-image: url(/img/89560096-2961-4B9A-A28D-4A5B5080B47A.jpg);
    background-repeat: no-repeat;
    height:auto;
    background-repeat: no-repeat;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    margin-top : 0;
}

#visual > #visualmessage {
    height:900px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 48px;
    color:#f5f5f7;
    margin : 0;
}

#visual > #visualmessage > #font2 {
    color :#1d1d1f;
}

#visual > #visualmessage > #font3 {
    color :#f5f5f7;
}


.layout1 {
    width:1080px;
    margin : 0 auto;
    background-color: #1d1d1f;
}

.layout2 {
    width:1080px;
    margin : 0 auto;
    background-color: #fff;
}

.layout3 {
    width:1080px;
    margin : 0 auto;
    background-color: #f5f5f7;
}

@media screen and (min-width:200px) and (max-width:480px){
    .layout1 {
        width:100%;
        margin : 0 auto;
    }

    .layout2 {
        width:100%;
        margin : 0 auto;
    }

    .layout3 {
        width:100%;
        margin : 0 auto;
    }

    #visual{
    background-image: url(/img/89560096-2961-4B9A-A28D-4A5B5080B47A.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    }
    #visual > #visualmessage {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        font-size: 28px;
        color:#f5f5f7;
        text-align: center;
    }
    
    #visual > #visualmessage > #font2 {
        color :#1d1d1f;
        text-align: center;
    }
    
    #visual > #visualmessage > #font3 {
        color :#f5f5f7;
        text-align: end;
    }

}
