* {
    margin : 0;
    padding : 0;
}

ul, li {
    list-style: none;
}

a { 
    text-decoration: none;
}



#header {
    display: flex;
}


#header > #logotext {
    font-size: 48px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f5f5f7;
    text-align: center;
    margin-left:25px;
}

#header > #navmenu {
    display:flex;
    align-items: center;
    flex-wrap:nowrap;
    justify-content:end;
    font-size: 20px;
    padding-left: 150px;
}

#header > #menuicon {
    display :none;
}

@media screen and (min-width:200px) and (max-width:600px){
    #header > #navmenu {
        display:none;
    }
    #header > #logotext {
        width: 100%;
        text-align: center;
    }
    #header > #menuicon {
        color:#f5f5f7;
        display:flex;
        width:10%;
        font-size: 48px;
        justify-content: flex-end;
    }

    #header > #navmenu.on {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0px;
        background-color: rgba(0,0, 0,1);
        height:auto;
        width: 100%;
        cursor: pointer;
        padding : 0;
        opacity: 2s;
        
    }

    #header > #navmenu.on > #li > a{
        margin : 20px 0 20px 0;
        box-sizing: border-box;
        cursor: pointer;
    }

}

#header > #navmenu > li > a {
    padding : 0 20px;
    color:#6e6e73;
    font-weight: bold;
}

#visual {
    background-image: url(/img/89560096-2961-4B9A-A28D-4A5B5080B47A.jpg);
    background-repeat: no-repeat;
    height:auto;
    background-repeat: no-repeat;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    margin-top : 0;
}

#visual > #visualmessage {
    height:900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 48px;
    color:#f5f5f7;
    margin : 0;
    padding : 25px 0 0 0;
    box-sizing: border-box;
    opacity: 1s;
}

#visual > #visualmessage > #font2 {
    color :#1d1d1f;
    opacity: 1s;
}

#visual > #visualmessage > #font3 {
    color :#f5f5f7;
    opacity: 1s;
}

#visual > #visualmessage > #font4 {
    color :#fff;
    font-size: 24px;
    opacity: 1s;
}

.layout1 {
    width:1080px;
    margin : 0 auto;
    background-color: #1d1d1f;
}

.layout2 {
    width:1080px;
    margin : 0 auto;
    background-color: #fff;
}

.layout3 {
    width:1080px;
    margin : 0 auto;
    background-color: #f5f5f7;
}

@media screen and (min-width:200px) and (max-width:600px){
    .layout1 {
        width:100%;
        margin : 0 auto;
        opacity: 1s;
    }

    .layout2 {
        width:100%;
        margin : 0 auto;
        opacity: 1s;
    }

    .layout3 {
        width:100%;
        margin : 0 auto;
        opacity: 1s;
    }

    #visual{
    background-image: url(/img/89560096-2961-4B9A-A28D-4A5B5080B47A.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    }
    #visual > #visualmessage {
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        align-items:center;
        font-size: 28px;
        color:#f5f5f7;
        text-align: center;
    }
    
    #visual > #visualmessage > #font2 {
        color :#1d1d1f;
        text-align: center;
    }
    
    #visual > #visualmessage > #font3 {
        color :#f5f5f7;
        text-align: end;
    }
}

#About {
    width:100%;
    text-align: center;
    border-bottom: 1px solid #f5f5f7;
}

#About > #About_head {
    padding : 0 0 10px 0;
    border-bottom: 1px solid #f5f5f7;
    box-sizing: border-box;
    font-size: 48px;
}

#About > #AboutAreaA {
    float:left;
    width:540px;
}

#About > #AboutAreaA > #AboutAreaA1 {
    font-size : 18px;
    text-transform: initial;
    line-height: 1.5;
    border-bottom: 1px solid #f5f5f7;
    margin : 0 10px;
}

#About > #AboutAreaA > #AboutAreaA1 > H3 {
    margin-bottom: 20px;
}

#About > #AboutAreaA > #AboutAreaA1 > div {
    margin-bottom: 20px;
    color:#1d1d1f;
}

#About > #AboutAreaA > #AboutAreaA1 > em {
    margin-bottom: 20px;
    color: #6e6e73;
}

#info {
    margin : 20px 0 20px 0;
}

#contact1 {
    display: inline-block;
    width:140px;
    text-align: center;
}

#contact2 {
    display: inline-block;
    width:140px;
    margin-left:10px;
    text-align: center;
}

#contact3 {
    display: inline-block;
    width:140px;
    margin-left:10px;
    text-align: center;
}


#About > #AboutAreaB {
    display:flex;
    width:540px;
}

#About > #AboutAreaB > #profile {
    position: relative;
}
#About > #AboutAreaB > #bottomurl {
    display:flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width:500px;
    height:80px;
    background-color: rgba(0,0, 0, 0.1);
}

.imgicon{
    width:30px;
    height:30px;
}


@media screen and (min-width:200px) and (max-width:600px){
    #About {
        width:100%;
        text-align: center;
        border-bottom: 1px solid #f5f5f7;
        display: block;
    }
    
    #About > #About_head {
        padding : 0 0 10px 0;
        border-bottom: 1px solid #f5f5f7;
        box-sizing: border-box;
        font-size: 48px;
    }

    #About > #AboutAreaA {
        /* float:left; */
        width:100%;
    }
    
    #About > #AboutAreaB {
        /* float:left; */
        max-width:100%;
        height:auto;
    }
    #contact1 {
        width:100%;
        text-align: center;
    }
    
    #contact2 {
        width:100%;
        margin-top:10px;
        text-align: center;
    }
    
    #contact3 {
        width:100%;
        margin-top:10px;
        text-align: center;
    }

    #About > #AboutAreaB > #bottomurl {
        display:flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        width:100%;
        height:80px;
        background-color: rgba(0,0, 0, 0.1);
    }
    
    .imgicon{
        width:30px;
        height:30px;
    }
}


#Experience > #Experience_Header {
    width:100%;
    text-align: center;
    border-bottom: 1px solid #f5f5f7;
    padding : 25px 0 25px 0;
    box-sizing: border-box;
    font-size: 48px;
    color: #6e6e73;
}

.Exp_contents {
    background-color: #f9fbfd;
}

.Exp_contents > .Exp_view > .Exp_content1 {
    padding: 80px 10px;
    width:30%;
    display:inline-block;
}

.Exp_contents > .Exp_view > .Exp_content1 > .Exp_sec1 {
    width:33%;
}

.Exp_contents > .Exp_view > .Exp_content1 > .Exp_sec1 > h2 {
    font-size: 16px;
}

.Exp_contents > .Exp_view > .Exp_content1 > .Exp_sec1 > h3 {
    margin-top: 14px;
    font-size: 14px;
    font-weight: 3.5;
}

.Exp_contents > .Exp_view > .Exp_content1 > .Exp_sec1 > p {
    font-size: 12px;
} 


.Exp_contents > .Exp_view > .Exp_content1 > .Exp_line {
    padding : 26px 0 30px 0;    
}

.Exp_contents > .Exp_view > .Exp_content1 > .Exp_line > .Exp_liner {
    display: inline-block;
    background:#b2c1ce;
    height:1px;
    width: 92%;
}

.Exp_contents > .Exp_view > .Exp_content1 > .Exp_sec2 > H4 {
    font-size: 16px;
}

.Exp_contents > .Exp_view > .Exp_content1 > .Exp_sec2 > H5{
    margin : 15px 0;
    font-size: 15px;
    font-weight: 2;
}

.Exp_contents > .Exp_view > .Exp_content1 > .Exp_sec2 > p {
    font-size: 14px;
    color: #6e6e73;
}

@media screen and (min-width:200px) and (max-width:600px){
    #Experience > #Experience_Header {
        padding : 0 0 10px 0;
        border-bottom: 1px solid #f5f5f7;
        box-sizing: border-box;
        font-size: 48px;
        color: #6e6e73;
    }
    .Exp_contents > .Exp_view > .Exp_content1 {
        width:100%;
        padding : 20px 0;
        margin : 0 5px;
    }
    
    .Exp_contents > .Exp_view > .Exp_content1 > .Exp_sec1 {
        width:100%;
    }

    .Exp_contents > .Exp_view > #mobile2 {
        background-color: #fff;
    }

    .Exp_contents > .Exp_view > #mobile3 {
        background-color: #f5f5f7;
    }

    .Exp_sec1 {
        text-align: center;
    }
}
#Skill > #Skill_Header {
    width:100%;
    text-align: center;
    border-bottom: 1px solid #f5f5f7;
    padding : 25px 0 25px 0;
    box-sizing: border-box;
    font-size: 48px;
}

#Skill > #Skill_Area {
    width:100%;
    padding: 100px 0;
    display: flex;
    border-bottom: 1px solid #f5f5f7;
}

#Skill > #Skill_Area > #Skill_Left {
    width:45%;
    display:flex;
    flex-direction: column;
}

#Skill > #Skill_Area > #Skill_Left > #Skill_Item {
    margin : 50px 0;
}

#Skill > #Skill_Area > #Skill_Left > #Skill_Item > div > .title {
    font-size: 18px;
    color: #676A81;
}

#Skill > #Skill_Area > #Skill_Left > #Skill_Item > #per_var {
    margin-top:20px;
    width: 90%;
    height: 20px;
    box-shadow: inset 1px 1px 2px #fff;
    color: #93F9B9;
    text-align: center;
}


#Skill > #Skill_Area > #Skill_Left > #Skill_Item > #status {
    display: inline-block;
}

#Skill > #Skill_Area > #Skill_Right {
    display:flex;
    flex-direction: column;
    width:45%;
    padding-left:20px;
    box-sizing: border-box;
}

#Skill > #Skill_Area > #Skill_Right > #Skill_Item {
    margin : 50px 0;
}

#Skill > #Skill_Area > #Skill_Right > #Skill_Item > div > .title {
    font-size: 18px;
    color: #676A81;
}

#Skill > #Skill_Area > #Skill_Right > #Skill_Item > #per_var {
    margin-top:20px;
    width: 90%;
    height: 20px;
    box-shadow: inset 1px 1px 2px #fff;
    color: #93F9B9;
    text-align: center;
}

#Skill > #Skill_Area > #Skill_Right > #Skill_Item > #status {
    display: inline-block;
}

@media screen and (min-width:200px) and (max-width:600px){
    #Skill > #Skill_Area {
        display: block;
        padding : 10px 0;
    }
    
    #Skill > #Skill_Area > #Skill_Left {
        width:100%;
        display: block;
        padding : 0 10px;
        box-sizing: border-box;
    }

    #Skill > #Skill_Area > #Skill_Right {
        width:100%;
        display: block;
        padding : 0 10px;
    }
}

#Project > #Project_Header {
    width:100%;
    text-align: center;
    border-bottom: 1px solid #f5f5f7;
    padding : 25px 0 25px 0;
    box-sizing: border-box;
    font-size: 48px;
}

#Project > #Project_Content_TypeA {
    width:100%;
    margin : 0 auto;
    padding-top:10px;
    box-sizing: border-box;
    display:flex;
    border-bottom: 1px solid #f5f5f7;
    padding-bottom: 20px;
}

#Project > #Project_Content_TypeA > #Project_img {
    display: inline-block;
    width:48%;
}

#Project > #Project_Content_TypeA > #Project_prev {
    width:48%;
}

#Project > #Project_Content_TypeA > #Project_prev > h4 {
    font-size: 16px;
}

#Project > #Project_Content_TypeA > #Project_prev > h5 {
    font-size: 14px;
    font-weight: 2;
    margin:20px 0;
}

#Project > #Project_Content_TypeA > #Project_prev > p {
    font-size : 12px;
}

@media screen and (min-width:200px) and (max-width:600px){
    #Project > #Project_Content_TypeA {
        width:100%;
        margin : 0 auto;
        padding-top:10px;
        box-sizing: border-box;
        display: block;
    }

    #Project > #Project_Content_TypeB {
        width:100%;
        margin : 0 auto;
        padding-top:10px;
        box-sizing: border-box;
        display: block;
    }

    #Project > #Project_Content_TypeA > #Project_img {
        display: block;
        width:100%;
    }

    #Project > #Project_Content_TypeA > #Project_img > img {
        width:100%;
        height:auto;
    }
    
    #Project > #Project_Content_TypeA > #Project_prev {
        width:100%;
        display:block;
        margin : 0 5px;
    }

}

#Contact{
    background-color: #f9fbfd;
    padding : 0 10px;
    box-sizing: border-box;
}

#Contact > #Contact_Header{
    width:100%;
    text-align: center;
    border-bottom: 1px solid #f5f5f7;
    padding : 25px 0 25px 0;
    box-sizing: border-box;
    font-size: 48px;
}

#Contact > #Contact_content {
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

#Contact > #Contact_content > #Contact_input{
    width:50%;
    margin-right: 10px;
}

#Contact > #Contact_content > #Contact_input > #Area_1 {
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

#Contact > #Contact_content > #Contact_input > #Area_2 {
    width:100%;
    display:flex;
    flex-direction: row;
    margin-bottom: 20px;
}

#Contact > #Contact_content > #Contact_input > #Area_3 {
    width:100%;
    display:flex;
    flex-direction: row;
    margin-bottom: 5px;
    /* height:100%; */
}

.input_ps_box1 {
    width:45%;
    height: 55px;
    padding: 10px 10px 14px 10px;
    border: 1px solid #dadada;
    box-sizing: border-box;
    background:white;    
}

.input_ps_box2 {
    display: flex;
    flex-wrap: nowrap;
    width:100%;
    height: 55px;
    padding: 10px 10px 14px 10px;
    border: 1px solid #dadada;
    box-sizing: border-box;
    background:white;

}

.input_ps_box3 {
    display: flex;
    flex-wrap: nowrap;
    width:100%;
    height: 250px;
    padding: 10px 10px 14px 10px;
    border: 1px solid #dadada;
    box-sizing: border-box;
    background:white;
    
}

.input_ps_box1 > #con_name {
    border: none;
    height:29px;
    position: relative;
    display: block;
    outline: 0;
    font-size: 16px;
}

.input_ps_box1 > #con_mail {
    border: none;
    height:29px;
    position: relative;
    display: block;
    outline: 0;
    font-size: 16px;
}

.input_ps_box2 > #con_subject {
    border: none;
    height:29px;
    position: relative;
    display: block;
    outline: 0;
    font-size: 16px;
}

.input_ps_box3 > #con_body {
    border: none;
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    outline: 0;
    font-size: 16px;
    overflow: auto;
    resize: none;
    font-size: 16px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn {
    width:100%;
    border: none;
    height:40px;
    background-color: #1d1d1f;
    color: #f5f5f7;
    font-size: 18px;
}

#Contact > #Contact_content > #Contact_Info {
    display: inline-block;
    width:48%;
    padding : 0 20px;
    box-sizing: border-box;
}

#Contact > #Contact_content > #Contact_Info > #Header {
    width:50%;
    padding : 20px 0;
    box-sizing: border-box;
    margin : 0 auto;
    display:block;
}

#Contact > #Contact_content > #Contact_Info > #Header > H3 {
    font-size: 18px;
    padding-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
}

#Contact > #Contact_content > #Contact_Info > #Header > p{
    font-size: 15px;
    box-sizing: border-box;
    text-align: center;
} 

#Contact > #Contact_content > #Contact_Info > #Address {
    width:50%;
    padding : 20px 0;
    box-sizing: border-box;
    margin : 0 auto;
    display:block;
}

#Contact > #Contact_content > #Contact_Info > #Address > #contact {
    width:100%;
    text-align: center;
    padding : 10px 0;
}

#Contact > #Contact_content > #Contact_Info > #Address > h3 {
    font-size: 18px;
    padding-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
}

#Contact > #Contact_content > #Contact_Info > #Address > #infotext{
    font-size: 15px;
    box-sizing: border-box;
    text-align: center;
}

#Contact > #Contact_content > #Contact_Info > #bottomurl {
    display:flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width:500px;
    height:80px;
}

@media screen and (min-width:200px) and (max-width:600px){
    #Contact > #Contact_content{
        display: block;
    }
    
    #Contact > #Contact_content > #Contact_input {
        display: block;
        width:100%;
        padding : 0 20px;
        box-sizing: border-box;
    }

    #Contact > #Contact_content > #Contact_input > #Area_1 > #namebox {
        margin-bottom: 20px;
    }

    .input_ps_box1 {
        width:100%;
        height: 55px;
        padding: 10px 10px 14px 10px;
        border: 1px solid #dadada;
        box-sizing: border-box;
        background:white;    
        display:block;
    }
    
    .input_ps_box2 {
        display: flex;
        flex-wrap: nowrap;
        width:100%;
        height: 55px;
        padding: 10px 10px 14px 10px;
        border: 1px solid #dadada;
        box-sizing: border-box;
        background:white;
    
    }
    
    .input_ps_box3 {
        display: flex;
        flex-wrap: nowrap;
        width:100%;
        height: 250px;
        padding: 10px 10px 14px 10px;
        border: 1px solid #dadada;
        box-sizing: border-box;
        background:white;
        
    }
    .input_ps_box1 > #con_name {
        border: none;
        height:29px;
        position: relative;
        display: block;
        outline: 0;
        font-size: 16px;
    }
    
    .input_ps_box1 > #con_mail {
        border: none;
        height:29px;
        position: relative;
        display: block;
        outline: 0;
        font-size: 16px;
    }
    
    .input_ps_box2 > #con_subject {
        border: none;
        height:29px;
        position: relative;
        display: block;
        outline: 0;
        font-size: 16px;
        size:27.5;
    }
    
    .input_ps_box3 > #con_body {
        border: none;
        width: 100%;
        height: 100%;
        position: relative;
        display: block;
        outline: 0;
        font-size: 16px;
        overflow: auto;
        resize: none;
        font-size: 16px;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    #Contact > #Contact_content > #Contact_input > #Area_1 {
        width:100%;
        display:flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    #Contact > #Contact_content > #Contact_Info{
        width: 100%;
    }

    #Contact > #Contact_content > #Contact_Info > #Header {
        width:100%;
        padding : 20px 0;
        box-sizing: border-box;
        margin : 0 auto;
        display:block;
        text-align: center;
    }

    #Contact > #Contact_content > #Contact_Info > #Header {
        display: inline-block;
    }

    #Contact > #Contact_content > #Contact_Info > #bottomurl {
        display:flex;
        justify-content: space-around;
        align-items: center;
        width:100%;
        height:auto;
    }
}

#footer {
    margin : 0 auto;
    text-align: center;
    padding : 60px 0;
    box-sizing: border-box;
    color: #1d1d1f;
}